@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,500;0,700;0,800;1,500&display=swap');
$color__green: #005740;
$color__brown: #C7893C;
$color__dark: #1c1c1c;
$color__ldark: #707070;
$color__bg: #413424;
html{
  font-size: 10px;
}
body{
  font-family: 'Raleway', sans-serif;
  font-size: 1.6rem;
  font-weight: 500;
}
a:visited{
	color: #ffffff;
}
.post, .page{
  margin-bottom: 0;
  overflow-x: hidden;
}
h2{
	font-size: 4rem;
	line-height: 1.6;
	letter-spacing: 2px;
	font-weight: 700;
	margin-bottom: 1em;
	color: #ffffff;
}
.move{
	opacity: 0;
	@include transction(1s);
	transform: translateY(60px);
	&.in{
		opacity: 1;
		transform: translateY(0);
	}
}
a{
  text-decoration: none;
  @include hoverFocusActive(#fff, transparent)
}
ul{
  list-style: none;
  margin: 0;
  padding: 0;
}
.social-media{
  display: flex;
  list-style: none;
  justify-content: center;
  li{
	width: 32px;
	height: 32px;
	background: #ffffff;
	border-radius: 50%;
	display: inline-flex;
	font-size: 2rem;
	justify-content: center;
	align-items: center;
	margin: 0 20px;
	a{
		color: $color__green;
		transition: all .25s ease-in-out;
		&:hover{
			color: $color__brown;
		}
	}
  }
}
.page-template-page-covid{
  header, footer{
	display: none;
  }

  main{
	position: relative;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	.wrapper{
	  position: absolute;
	  min-width: 320px;
	  left: 50%;
	  top: 50%;
	  transform: translate(-50%, -50%);
	  .inner-wrapper{
		padding: 15px;
		.logo{
		  max-width: 240px;
		  margin: 0 auto 30px;
		}
		form{
		  .field{
			margin-bottom: 15px;
			label{
			  display: block;
			  font-size: 14px;
			  margin-bottom: .5em;
			  font-weight: 500;
			  color: $color__brown;
			}
			span{
			  display: block;
			  input{
				width: 100%;
				border: 1px solid $color__green;
				padding: 8px 15px;
				font-size: 14px;
			  }
			}
		  }
		  input.wpcf7-submit{
			text-transform: uppercase;
			background-color: $color__green;
			color: #ffffff;
			width: 100%;
			padding: 12px 15px;
			letter-spacing: 1px;
			font-size: 18px;
			margin-top: 10px;
			cursor: pointer;
			transition: all ease-in-out .25s;
			&:hover, &:active, &:focus{
			  background-color: $color__brown;
			}
		  }
		}
	  }
	}
  }
}
@media (min-width: 1700px){
	.container{
		max-width: 1670px;
	}
}
@media (min-width: 1500px){
	.container{
		max-width: 1350px;
	}
}
@media (min-width: 1200px){
	nav#nav{
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: calc(100% - 450px);
		.menu-menu-1-container{
			width: 100%;
		}
		.menu{
			width: 100%;
			@include flex();
			li{
				a{
					position: relative;
					display: block;
					overflow: hidden;
					text-transform: uppercase;
					color: $color__brown;
					font-weight: 700;
					font-size: 2.2rem;
					@include transction();
					&:hover{
						color: #fff;
					}
				}
				&.current_page_item {
					a{
						color: #fff;
						&::after{
							@include transction();
							background-color: #fff;
							bottom: 3px;
						}
					}
				}
			}
		}
	}
}
header{
	position: sticky;
	top: 0;
	background-color: $color__bg;
	padding: 20px 0;
	height: 130px;
	z-index: 99;
	.marco-logo{
		display: block;
		width: 100%;
		max-width: 190px;
	}
	.wrapper{
		@include flex();
	}
}
footer{
	border-top: 25px solid $color__brown;
	color: #ffffff;
	background-color: $color__bg;
	padding: 50px 0 40px;
	#footer-logo{
		display: block;
		width: 100%;
		max-width: 250px;
	}
	h3{
		font-size: 2.2rem;
		color: #ffffff;
		font-weight: 600;
		margin-bottom: 10px;
	}
	a{
		color: #ffffff;
		@include hoverFocusActive($color__brown, transparent);
	}
	.top-row{
		.wrapper{
			@include flex();
			@include pbm();
			ul{
				li{
					margin-bottom: 5px;
				}
			}
			.footer-opening-hours{
				span{
					display: block;
					margin-bottom: 5px;
				}
			}
			.footer-newsletter{
				min-width: 600px;
				label{
					display: none !important;
				}
				.mc-field-group{
					margin-bottom: 15px;
					input{
						background-color: transparent;
						border-radius: 0;
						border: 0;
						border-bottom: 2px solid $color__brown;
						font-size: 1.6rem;
						font-style: italic;
						width: 100%;
						max-width: unset;
						color: #ffffff;
					}
				}
				.mc-fields{
					@include flex();
					.mc-field-group{
						width: 100%;
						max-width: 48%;
					}
				}
				.footer-submit{
					border: 0;
					background-color: transparent;
					background: transparent;
					color: #ffffff;
					border-radius: 0;
					font-size: 2rem;
					text-transform: uppercase;
					letter-spacing: 4px;
					line-height: 1.6;
					padding: 20px 0 0;
				}
			}
		}
	}
	.bottom-row{
		.wrapper{
			@include flex();
			align-items: center;
			.right-corner{
				@include flex();
				align-items: center;
				.social-media{
					a{
						position: relative;
						display: inline-block;
						margin-left: 25px;
						font-size: 1.3em;
						@include linkBtmLine($color__brown)
					}
				}
				#dd{
					margin-left: 50px;
				}
			}
		}
	}
}
.map{
	position: relative;
	width: 100%;
	height: 600px;
	overflow: hidden;
	color: #fff;
	.container{
		height: 100%;
		.row{
			height: 100%;
		}
	}
	&-wrapper{
		position: absolute;
		z-index: 1;
		width: 100%;
		top: 0;
		left: 0;
		img{
			width: 1920px;
			max-width: unset;
			object-position: center center;
			object-fit: contain;
			height: 100%;
		}
	}
	a{
		color: #fff;
	}
	.wrapper{
		position: absolute;
		z-index: 2;
		display: inline-block;
		background-color: $color__green;
		padding: 60px 80px;
		top: 50%;
		transform: translateY(-50%);
		h2{
			letter-spacing: 8.25px;
		}
		h4{
			font-weight: bold;
			font-size: 2.2rem;
			margin-bottom: 5px;
		}
		p{
			margin-bottom: 5px;
		}
		.content{
			margin-bottom: 40px;
		}
		.link{
			margin-right: 80px;
		
		}
	}
}
.link{
	position: relative;
	display: inline-block;
	width: fit-content;
	font-size: 2rem;
	margin: 0 auto;
	text-transform: uppercase;
	letter-spacing: 4px;
	line-height: 1.2;
	font-weight: 600;
	color: #ffffff;
	padding: 20px 10px;
	text-decoration: none;
	&::after, &::before{
		content: '';
		position: absolute;
		display: block;
		top: 100%;
		left: 0;
		width: 100%;
		height: 3px;
		background-color: #fff;
		transition: all .25s ease;
		transform: scale(.9);
	}
	&:hover{
		&::before{
			top: 0;
			transform: scale(1);
		}
		&::after{
			transform: scale(1);
		}
	}
}
main{
	.section{
		h2{
			font-size: 4rem;
			line-height: 1.6;
			letter-spacing: 2px;
			font-weight: 700;
			margin-bottom: 1em;
		}
	}
	.banner{
		position: relative;
		&::before{
			content: '';
			display: block;
			width: 100%;
			height: 100%;
			position: absolute;
			background-color: rgba(0, 0, 0, .4);
			z-index: 1;
		}
		&.banner-home{
			&::before{
				display: none;
			}
			.flexslider{
				margin-bottom: 0;
				border: 0;
				border-radius: 0;
				box-shadow: none;
				ul{
					li{
						position: relative;
						width: 100%;
						height: calc(100vh - 131px);
						overflow: hidden;
						img{
							@include imgFit();
						}
						h2{
							@include centerItem();
							font-weight: 700;
							color: #ffffff;
							font-size: 6.5rem;
							letter-spacing: 9.75px;
							line-height: 100px;
							text-transform: uppercase;
							z-index: 9;
						}
					}
				}
				.flex-direction-nav{
					display: none;
				}
				.flex-control-paging {
					bottom: 60px;
					z-index: 10;
					li{
						a{
							background: #ffffff;
							box-shadow: none;
							@include transction();
							&.flex-active{
								width: 100px;
								background-color: $color__brown;
							}
						}
					}
				}
			}
		}
		&-category, &-about, &-contact, &-featured{
			position: relative;
			background-image: url('../images/marco-bg.png');
			background-position: center center;
			background-repeat: no-repeat;
			background-size: cover;
			@include overlay();
			.wrapper{
				position: relative;
				height: 460px;
			}
			h1{
				position: relative;
				z-index: 4;
				text-align: center;
				width: 100%;
				max-width: 990px;
				font-size: 6.5rem;
				letter-spacing: 9.75px;
				line-height: 1.6;
				color: #fff;
				text-transform: uppercase;
				font-weight: 700;
				@include centerItem();
				margin: 0;
			}
		}
	}
}
.about-section{
	color: #ffffff;
	background-color: $color__brown;
	padding: 60px 45px;
	.wrapper{
		@include flex();
		.about-video{
			position: relative;
			width: calc(100% - 460px);
			i{
				position: absolute;
				color: #fff;
				font-size: 8rem;
				@include centerItem();
				@include transction();
				@include hoverFocusActive($color__green, transparent)
			}
		}
		.about-our-story{
			width: 100%;
			max-width: 400px;
			@include flex(column, center);
			&-content{
				margin-bottom: 80px;
				p{
					margin-bottom: 0;
				}
			}
			
		}
	}
}
.category-section{
	padding: 60px 45px;
	color: #ffffff;
	background-color: $color__bg;
	h2, a{
		color: #ffffff;
	}
	.col-category{
		margin-bottom: 30px;
		&:nth-last-child(-n+2){
			margin-bottom: 0;
		}
		.wrapper{
			overflow: hidden;
			&::before{
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				background-color: rgba(189, 116, 44, .6);
				z-index: 5;
				width: 100%;
				height: 100%;
			}
			@include imgWrapper(39%, relative);
			&:hover{
				img{
					transform: scale(1.02) translate(-50%, -50%);
				}
			}
			a{
				display: block;
			}
			img{
				@include transction();
				@include imgFit();
			}
			.inner-wrapper{
				@include centerItem();
				z-index: 5;
			}
		}
	}
}
.main-content{
	background-color: $color__brown;
	color: #fff;
	padding: 80px 0;
	.excerpt{
		font-weight: 600;
		font-size: 2.2rem;
	}
	.content{
		line-height: 2.3;
	}
}
.page-template-page-contact{
	.main-content{
		color: $color__ldark;
		h2, h3{
			color: $color__ldark;
		}
		.contact-info{
			color: $color__ldark;
		}
		h3{
			font-size: 2.2rem;
			letter-spacing: 1.4px;
			font-weight: 700;
		}
		.contact-form{
			width: 100%;
			max-width: 750px;
			text-align: left;
			h2{
				position: relative;
				&::after{
					position: absolute;
					content: '';
					display: block;
					width: calc(100% - 280px);
					height: 1px;
					background-color: $color__brown;
					right: 0;
					bottom: 0;
				}
			}
			.field-sets{
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				margin-bottom: 25px;
				.wpcf7-form-control-wrap{
					width: 100%;
					display: block;
				}
				.field{
					width: 100%;
					max-width: 48%;
				}
				input, textarea{
					border-radius: 0;
					border: 1px solid $color__green;
					height: 52px;
					width: 100%;
					color: $color__ldark;
					font-style: italic;
					font-size: 1.6rem;
					padding: 0 15px;
					letter-spacing: .26px;
				}
				textarea{
					height: 300px;
					padding: 15px;
				}
				
			}
			
		}
	}
	.get-direction{
		margin-top: 60px;
		color: $color__dark;
		padding: 10px 10px;
		font-weight: 900;
		&::after, &::before{
			background-color: $color__brown;
		}
	}
	.button{
		position: relative;
		font-weight: 700;
		font-size: 2rem;
		color: $color__ldark;
		letter-spacing: 4px;
		line-height: 1.2;
		border: 0;
		padding: 20px 0;
		background-color: transparent;
		border-radius: 0;
		text-transform: uppercase;
		text-align: left;
		font-weight: 700;
		@include transction();
		&::after, &::before{
			left: 0;
			top: 100%;
			content: '';
			position: absolute;
			width: 100%;
			height: 4px;
			background-color: $color__brown;
			@include transction();
		}
		&:hover{
			&::before{
				top: 0;
			}
		}
		
	}
	.wrapper-right{
		padding-left: 150px;
	}
	.contact-info{
		margin-bottom: 40px;
		&:first-child{
			margin-top: 45px;
		}
	}
}
.page-template-page-blog{
	.col-blog{
		margin-bottom: 30px;
		.wrapper{
			border: 1px solid $color__green;
		}
	
		.inner-wrapper{
			padding: 40px 80px;
		}
		.post-thumbnail{
			display: block;
			@include imgWrapper(40%);
			img{
				@include imgFit();
			}
		}
		h2{
			font-size: 2.2rem;
			line-height: 1.8;
			text-transform: uppercase;
			margin-bottom: 1.5em;
			font-weight: 800;
			a{
				color: $color__dark;
			}
		}
		.blog-excerpt{
			p{
				margin-bottom: 0;
				line-height: 2.3;
			}
			color: $color__ldark;
			margin-bottom: 30px;
		}
		.link{
			padding: 15px 0;
			color: $color__dark;
			font-weight: 900;
			&::after, &::before{
				width: 100%;
				height: 4px;
				transform: scale(1);
				background-color: $color__brown;
			}
			
		}
	}
	.col-sidebar{
		padding-top: 40px;
		padding-left: 100px;
		h2{
			font-size: 2.2rem;
			font-weight: 800;
			text-transform: capitalize;
			color: $color__dark;
			margin-bottom: 5px;
		}
		ul{
			margin-bottom: 60px;
			li{
				a{
					color: $color__dark;
					margin-bottom: 5px;
					display: block;
				}
			}
		}
	}
}
.page-template-page-featured{
	.main-content{
		.col-featured{
			margin-bottom: 60px;
			&:last-child{
				margin-bottom: 0;
			}
		}
		.wrapper{
			@include flex();
			background-color: #fff;
			.image-wrapper{
				width: 50%;
				@include imgWrapper(55%);
				img{
					@include imgFit();
				}
			}
			.content-wrapper{
				width: 50%;
				color: $color__dark;
				padding: 65px 90px;
				h2{
					font-size: 2.2rem;
					line-height: 1.5;
					color: $color__dark;
				}
				p{
					line-height: 2.3;
				}
			}
		}
	}
}
.page-template-page-about, .page-template-page-contact, .page-template-page-blog, .single{
	.main-content{
		background-color: #fff;
		color: $color__dark
	}
}
.page-template-page-about{
	.main-content{
		max-width: 1024px;
		margin: auto;
	}
}
.single{
	&.post-template-single-category{
		.main-content{
			color: #fff;
			padding: 80px 0 300px;
			background-color: $color__brown;
		}
	}
	.main-content{
		padding: 80px 0;
		.container{
			width: 100%;
			max-width: 767px;
			margin: auto;
		}
		.entry-meta{
			a{
				color: $color__brown;
			}
		}
	}
}

.gallery{
	position: relative;
	transform: translateY(-220px);
	z-index: 2;
	.col-category-img{
		margin-bottom: 30px;
	}
	.img-wrapper{
		@include imgWrapper(57%);
		overflow: hidden;
		img{
			@include imgFit();
		}
	}
}
.pum-theme-200 .pum-content + .popmake-close, .pum-theme-content-only .pum-content + .popmake-close{
	font-size: 8rem !important;
	font-weight: 100 !important;
	background-color: $color__brown !important;
	color: transparent !important;
	width: 50px !important;
	height: 50px !important;
	border-radius: 0 !important;
	right: 0 !important;
	top: 0 !important;
	box-shadow:  none !important;
	text-shadow: none !important;
	border: 0 !important;
	min-width: unset !important;
	@include transction();
	&:hover{
		background-color: $color__green !important;
	}
	&::before, &::after{
		content: '';
		display: block;
		position: absolute;
		width: 100%;
		height: 1px;
		background-color: #ffffff;
		left: 0;
		@include transction(.25s);
		top: 50%;
	}
	&:before{
		transform: rotate(-45deg);
	}
	&:after{
		transform: rotate(45deg);
	}
	
}
.popmake-content{
	.wrapper{
		background-color: #fff;
		@include flex();
		.mc4wp-form{
			width: 100%;
			max-width: 552px;
			margin: auto;	
		}
		h2{
			font-size: 4.5rem;
			font-weight: 700;
			letter-spacing: 6.75px;
			color: $color__green;
			line-height: 1.5;
		}
		p{
			font-size: 2rem;
			color: $color__ldark;
			margin-bottom: 40px;
			letter-spacing: 0.4px;
			line-height: 2;
		}
		.field-sets{
			margin-bottom: 30px;
			input{
				border-radius: 0;
				border: 1px solid $color__green;
				height: 52px;
				width: 100%;
				color: $color__ldark;
				font-style: italic;
				font-size: 1.6rem;
				padding: 0 15px;
				letter-spacing: .26px;
			}
			@include flex();
			.field{
				width: 48%;
			}
		}
		.submit{
			input{
				border-radius: 0;
				border: 1px solid $color__brown;
				height: 52px;
				width: 100%;
				color: #fff;
				font-size: 2rem;
				padding: 0 15px;
				letter-spacing: 4px;
				background-color: $color__brown;
				@include transction();
				&:hover{
					background-color: $color__green;
					border: 1px solid $color__green;
				}
			}
		}
	}
}

/////////////////////////////////////////
@media screen and (max-width: 1700px){
	body{
		font-size: 1.5rem;
	}
	.page-template-page-under{
		main{
		.logo{
			max-width: 360px;
			margin-bottom: 30px;
		}
		.wrapper{
			.inner-wrapper{
			top: 150px;
			max-width: 1300px;
			p{
				font-size: 1.4rem;
			}
			.top{
				h1{
				font-size: 5rem;
				letter-spacing: 4px;
				}
			}
			.middle{
				h2{
					font-size: 2.2rem;
					img{
						max-width: 25px;
						margin-left: 20px;
					}
				}
				#mc_embed_signup{
				form{
					#mc_embed_signup_scroll{
						max-width: 990px;
						.mc-field-group{
							input{
							width: 100%;
							min-width: unset !important;
							}
						}
					}
				}
				}
			}
			.bottom{
				ul{
					li{
						font-size: 3.5rem;
					}
				}
				.contact{
				font-size: 2rem;
				max-width: 990px;
				}
			}
			}
		}
		}
	}
	.link{
		font-size: 1.6rem;
		letter-spacing: 3.33px;
		padding: 16px 0;
	}
	nav#nav .menu li a{
		font-size: 1.83rem;
	}
	header{
		height: 120px;
		.marco-logo{
			max-width: 160px;
		}
	} 
	footer{
		#footer-logo{
			max-width: 210px;
		}
		h3{
			font-size: 2rem;
		}
	}
	h2{
		font-size: 3.33rem;
	}
	main{
		.section{
			h2{
				font-size: 3.33rem;
			}
		}
		.banner{
			&.banner-home{
				.flexslider{
					ul{
						li{
							height: calc(100vh - 120px);
							h2{
								font-size: 5.4rem;
								letter-spacing: 8.125px;
								line-height: 83px;
							}
						}
					}
					.flex-control-paging{
						bottom: 50px;
					}
				}
			}
		}
	}
	.about-section, .category-section{
		padding: 50px 37.5px;
	}
	.map{
		height: 500px;
		.wrapper{
			padding: 50px 66.67px;
			h4{
				font-size: 2rem;
			}
			.link{
				margin-right: 60px;
			}
		}
	}
	.popmake-content{
		.wrapper{
			h2{
				font-size: 3.3rem;
				letter-spacing: 3.5px
			}	
			p{
				font-size: 1.6rem;
			}
			.mc4wp-form{
				padding: 0 25px;
			}
		}
	}
}

@media screen and (max-width: 1199px){
	.popmake-content{
		.image-wrapper{
			display: none;
		}
		.wrapper{
			h2{
				font-size: 2.5rem;
				letter-spacing: 3px
			}	
		
			.mc4wp-form{
				padding:  25px;
				text-align: center;
			}
		}
	}
	header{
		.marco-logo{
			z-index: 100;
		}
	}
	nav#nav{
		position: fixed;
		width: 100vw;
		height: 100vh;
		top: 0;
		left: -200%;
		opacity: 0;
		visibility: hidden;		
		background-color: $color__green;
		z-index: 99;
		@include transction(1s);
		&.active{
			left: 0;
			opacity: 1;
			visibility: visible;	
		}
		.menu-menu-1-container{
			position: relative;
			width: 100%;
			height: 100%;
			ul{
				@include centerItem();
				li{
					a{
						display: block;
						color: #fff;
						text-align: center;
						padding: 10px 15px;
						white-space: nowrap;
						font-size: 2.2rem;
						text-transform: uppercase;
						font-weight: 700;
						@include hoverFocusActive(#fff, transparent, .5);
					}
					&.current_page_item{
						a{
							opacity: .5;
						}
					}
				}
			}
		}
	}
	#nav-icon{
		display: block;
		position: absolute;
		width: 30px;
		height: 20px;
		cursor: pointer;
		right: 15px;
		top: 50%;
		transform: translateY(-50%);
		@include transction();
		z-index: 100;
		span{
			display: block;
			position: absolute;
			width: 100%;
			height: 3px;
			border-radius: 15px;
			background-color: #ffffff;
			left: 0;
			@include transction(.25s);
			&:first-child{
				top: 0;
			}
			&:last-child{
				bottom: 0;
			}
		}
		&.open{
			span{
				top: 10px;
				&:first-child{
					transform: rotate(45deg);
				}
				&:last-child{
					transform: rotate(-45deg);
				}
			}
		}
	}
	main{
		.section{
			h2{
				font-size: 2.8rem;
				white-space: nowrap;
			}
		}
		.banner{
			&.banner-home{
				.flexslider{
					.flex-control-paging{
						bottom: 30px;
					}
					ul{
						li{
							h2{
								font-size: 3.6rem;
								letter-spacing: 4px;
								line-height: 1.6;
							}
						}
					}
				}
			}
			&-category, &-about, &-contact, &-featured{
				.wrapper{
					height: 400px;
					h1{
						font-size: 4.2rem;
						letter-spacing: 4px;
						line-height: 1.6;
					}
				}
			}
		}
	}
	.about-section{
		.wrapper{
			.about-video{
				width: calc(100% - 330px);
			}
			.about-our-story{
				max-width: 300px;
				&-content{
					margin-bottom: 40px;
				}
			}
		}
	}
	footer{
		.top-row{
			.wrapper{
				flex-wrap: wrap;
				.footer-newsletter{
					width: 100%;
				}
			}
		}
	}
	.main-content{
		text-align: center;
		padding: 40px 0 !important;
		.excerpt{
			font-size: 1.8rem;
		}
	}
	.gallery{
		padding: 40px 0;
		transform: translateY(0);
		.col-category-img{
			margin-bottom: 15px;
		}
	}
}
@media screen and (max-width: 991px){
	.about-section{
		padding: 40px 0;
		.wrapper{
			flex-direction: column;
			.about-video{
				width: 100%;
				margin-bottom: 30px;
			}
			.about-our-story{
				max-width: unset;
				&-content{
					margin-bottom: 15px;
				}
			}
		}
	}
	.category-section{
		padding: 40px 0;
	}
	.page-template-page-contact {
		.wrapper-right{
			padding-left: 0;
		}
	}
	.page-template-page-featured{
		.main-content{
			.col-featured{
				margin-bottom: 30px;
			}
			.wrapper{
				flex-direction: column;
				.image-wrapper, .content-wrapper{
					width: 100%;
				}
				.content-wrapper{
					padding: 30px;
				}
			}
		}
	}
	.map{
		padding: 0;
		background-color: $color__green;
		@include flex(column-reverse);
		height: auto;
		&-wrapper{
			position: relative;
			img{
				width: 100%;
				height: auto;
			}
		}
		.container{
			height: auto;
			.row{
				height: auto;
			}
			.wrapper{
				text-align: center;
				position: relative;
				top: auto;
				display: block;
				transform: unset;
				.link{
					margin-right: 15px;
					margin-left: 15px;
					margin-bottom: 15px;
				}
			}
		}
	}
}
@media screen and (max-width: 767px){
	.pum-theme-200 .pum-content + .pum-close, .pum-theme-content-only .pum-content + .pum-close{
		width: 30px !important;
		height: 30px !important;
	}
	.popmake-content{
		.wrapper{
			.mc4wp-form{
				padding: 50px 15px;
				text-align: center;
			}
			p{
				margin-bottom: 15px;
			}
			.field-sets{
				margin-bottom: 0;
				flex-direction: column;
				.field{
					width: 100%;
					margin-bottom: 15px;
				}
			}
			.submit{
				margin-top: 15px;
				input{
					font-size: 1.6rem;

				}
			}
		}
	}
	main{
		.banner{
			&.banner-home{
				.flexslider{
					ul{
						li{
							height: calc(100vh - 97px);
							h2{
								letter-spacing: 1.6px;
							}
						}
					}
				}
			}
		}
	}
	.category-section{
		.col-category{
			margin-bottom: 15px;
			&:nth-child(9){
				margin-bottom: 15px;
			}
		}
	}
	.map{
		.wrapper{
			margin-top: 0;
			padding: 30px;
			h2{
				font-size: 2.8rem;
			}
		}
	}
	header{
		height: auto;
		.marco-logo{
			max-width: 120px;
		}
	}
	.page-template-page-contact{
		.main-content{
			.contact-form{
				h2{
					text-align: center;
					&::after{
						display: none;
					}
				}
				.field-sets{
					flex-direction: column;
					margin-bottom: 15px;
					.field{
						margin-bottom: 15px;
						max-width: unset;
						&:last-child{
							margin-bottom: 0;
						}
					}
				}
			}
		}
		.submit{
			text-align: center;
		}
		.button{
			text-align: center;
		}
		.wrapper-right{
			padding: 40px 0;
		}
	}
	footer{
		.top-row{
			.wrapper{
				flex-direction: column;
				text-align: center;
				.footer-newsletter{
					min-width: unset;
					.mc-fields{
						flex-direction: column;
						.mc-field-group{
							max-width: 100%;
						}
					}
				}
			}
		}
		.bottom-row{
			text-align: center;
			.wrapper{
				flex-direction: column;
				span{
					display: block;
					margin-bottom: 15px;
				}
				.right-corner{
					flex-direction: column;
					#dd{
						margin-top: 10px;
						margin-left: 0;
					}
				}
			}
		}
		#footer-logo{
			margin: 0 auto 30px;
		}
		.footer-links, .footer-opening-hours{
			margin-bottom: 30px;
		}
	}
	.page-template-page-blog{
		.col-blog{
			.inner-wrapper{
				padding: 20px 25px 40px;
			}
			h2{
				font-size: 2.4rem;
				margin-bottom: 10px;
			}
			.blog-excerpt{
				margin-bottom: 10px;
			}
		}
		.col-sidebar{
			padding: 30px 15px;
		}
	}
}
