@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,500;0,700;0,800;1,500&display=swap');
$color__green: #0B4531;
$color__brown: #BD742C;
$color__dark: #1c1c1c;
html{
  font-size: 10px;
}
body{
  font-family: 'Raleway', sans-serif;
  font-size: 1.6rem;
  font-weight: 500;
}
.post, .page{
  margin-bottom: 0;
  overflow-x: hidden;
}
h2{
	font-size: 4rem;
	line-height: 1.6;
	letter-spacing: 2px;
	font-weight: 700;
	margin-bottom: 1em;
	color: #ffffff;
}
.move{
	opacity: 0;
	@include transction(1s);
	transform: translateY(60px);
	&.in{
		opacity: 1;
		transform: translateY(0);
	}
}
a{
  text-decoration: none;
  @include hoverFocusActive(#fff, transparent)
}
ul{
  list-style: none;
  margin: 0;
  padding: 0;
}
.page-template-page-under{
  header, footer{
    display: none;
  }
  main{
    background-image: url("../images/bg.png");
    position: fixed;
    width: 100vw;
    height: 100vh;
    color: #ffffff;
    background-size: cover;
    background-position: center center;
    .logo{
      max-width: 400px;
      margin: 0 auto 35px;
    }
    .wrapper{
      .inner-wrapper{
        position: absolute;
        width: 100%;
        max-width: 1700px;
        padding: 0 15px;
        top: 170px;
        left: 50%;
        transform: translateX(-50%);
        text-transform: uppercase;
        color: #fdf9d2;
        text-align: center;
        .top{
          background: $color__green;
          h1{
            font-weight: 700;
            color: #ffffff;
            margin: 0;
            letter-spacing: 5px;
            font-size: 6rem;
            padding: 12px 15px;
            sup{
              font-size: 2.5rem;
            }
          }
        }
        p{
          font-size: 1.6rem;
          letter-spacing: 1.6px;
          font-weight: 500;
        }
        .middle{
          background: #ffffff;
          padding: 20px 15px;
          color: $color__green;
          font-weight: 500;
          h2{
            font-weight: 700;
            margin: 0;
            letter-spacing: 2px;
            font-size: 2.6rem;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            img{
              margin-left: 30px;
              max-width: 32px;
            }
          }
          #mc_embed_signup{
            form{
              #mc_embed_signup_scroll{
                display: flex;
                width: 100%;
                max-width: 1400px;
                margin: auto;
                flex-direction: row;
                justify-content: space-between;
                .mc-field-group{
                  width: 25%;
                  label{
                    display: none;
                  }
                  input{
                    text-transform: uppercase;
                    font-size: 1.6rem;
                    letter-spacing: 1.2px;
                    font-weight: 500;
                    color: $color__green;
                    border: 0;
                    border-bottom: 1px solid $color__green;
                    border-radius: 0;
                    width: 100%;
                    padding: 10px 0;
                    &#mce-EMAIL{
                      min-width: 350px;
                    }
                  }
                }
                #mc-embedded-subscribe{
                  border: 1px solid $color__green;
                  background-color: transparent;
                  font-size: 16px;
                  border-radius: 0;
                  padding: 15px 50px;
                  font-weight: 500;
                  text-transform: uppercase;
                  transition: all .25s ease-in-out;
                  cursor: pointer;
                  &:hover{
                    background-color: $color__green;
                    color: #ffffff;
                  }
                }
              }
            }
          }
        }
        .bottom{
          background: $color__brown;
          color: #ffffff;
          padding: 20px 15px;
          ul{
            display: flex;
            list-style: none;
            margin: 0 auto 20px;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            li{
              font-size: 4rem;
              letter-spacing: 3px;
              text-transform: uppercase;
              font-weight: 700;
              padding: 0 25px;
              position: relative;
              &:after{
                position: absolute;
                content: '';
                display: inline-block;
                width: 8px;
                height: 8px;
                border-radius: 50%;
                overflow: hidden;
                background: #ffffff;
                right: -5px;
                top: 50%;
                transform: translateY(-50%);
              }
              &:last-child{
                &:after{
                  display: none;
                }
              }
            }
          }
          .contact{
            display: flex;
            width: 100%;
            max-width: 1400px;
            margin: auto;
            justify-content: space-between;
            text-transform: uppercase;
            font-size: 2.5rem;
            letter-spacing: 2.4px;
            font-weight: 500;
            a{
              color: #ffffff;
            }
          }
        }
      }
    }
  }
}
.social-media{
  display: flex;
  list-style: none;
  justify-content: center;
  li{
    width: 32px;
    height: 32px;
    background: #ffffff;
    border-radius: 50%;
    display: inline-flex;
    font-size: 2rem;
    justify-content: center;
    align-items: center;
    margin: 0 20px;
    a{
		color: $color__green;
		transition: all .25s ease-in-out;
		&:hover{
			color: $color__brown;
		}
    }
  }
}
.page-template-page-covid{
  header, footer{
    display: none;
  }

  main{
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    .wrapper{
      position: absolute;
      min-width: 320px;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      .inner-wrapper{
        padding: 15px;
        .logo{
          max-width: 240px;
          margin: 0 auto 30px;
        }
        form{
          .field{
            margin-bottom: 15px;
            label{
              display: block;
              font-size: 14px;
              margin-bottom: .5em;
              font-weight: 500;
              color: $color__brown;
            }
            span{
              display: block;
              input{
                width: 100%;
                border: 1px solid $color__green;
                padding: 8px 15px;
                font-size: 14px;
              }
            }
          }
          input.wpcf7-submit{
            text-transform: uppercase;
            background-color: $color__green;
            color: #ffffff;
            width: 100%;
            padding: 12px 15px;
            letter-spacing: 1px;
            font-size: 18px;
            margin-top: 10px;
            cursor: pointer;
            transition: all ease-in-out .25s;
            &:hover, &:active, &:focus{
              background-color: $color__brown;
            }
          }
        }
      }
    }
  }
}
@media (min-width: 1700px){
	.container{
		max-width: 1670px;
	}
}
@media (min-width: 1500px){
	.container{
		max-width: 1470px;
	}
}
@media (min-width: 1200px){
	nav#nav{
		width: calc(100% - 450px);
		.menu{
			@include flex();
			margin-top: 50px;
			li{
				a{
					position: relative;
					display: block;
					overflow: hidden;
					text-transform: uppercase;
					color: $color__brown;
					font-weight: 700;
					font-size: 2.2rem;
					padding-bottom: 30px;
					@include transction();
					@include linkBtmLine(transparent, 0);
					&:hover{
						color: #fff;
						&::after{
							@include transction();
							background-color: #fff;
							bottom: 3px;
						}
					
					}
					
				}
				&.current_page_item {
					a{
						color: #fff;
						&::after{
							@include transction();
							background-color: #fff;
							bottom: 3px;
						}
					}
				}
			}
		}
	}
}
header{
	background-color: $color__dark;
	padding: 20px 0;
	height: 130px;
	.marco-logo{
		display: block;
		width: 100%;
		max-width: 190px;
	}
	.wrapper{
		@include flex();
	}
}
footer{
	color: #ffffff;
	background-color: $color__dark;
	padding: 50px 0 40px;
	#footer-logo{
		display: block;
		width: 100%;
		max-width: 250px;
	}
	h3{
		font-size: 2.2rem;
		color: #ffffff;
		font-weight: 600;
		margin-bottom: 10px;
	}
	a{
		color: #ffffff;
		@include hoverFocusActive($color__brown, transparent);
	}
	.top-row{
		.wrapper{
			@include flex();
			@include pbm();
			ul{
				li{
					margin-bottom: 5px;
				}
			}
			.footer-opening-hours{
				span{
					display: block;
				}
			}
			.footer-newsletter{
				min-width: 600px;
				label{
					display: none !important;
				}
				.mc-field-group{
					margin-bottom: 15px;
					input{
						background-color: transparent;
						border-radius: 0;
						border: 0;
						border-bottom: 2px solid $color__brown;
						font-size: 1.6rem;
						font-style: italic;
						width: 100%;
						max-width: unset;

					}
				}
				.mc-fields{
					@include flex();
					.mc-field-group{
						width: 100%;
						max-width: 48%;
					}
				}
				.footer-submit{
					border: 0;
					background-color: transparent;
					background: transparent;
					color: #ffffff;
					border-radius: 0;
					font-size: 2rem;
					text-transform: uppercase;
					letter-spacing: 4px;
					line-height: 1.6;
					padding: 20px 0 0;
				}
			}
		}
	}
	.bottom-row{
		.wrapper{
			@include flex();
			align-items: center;
			.right-corner{
				@include flex();
				align-items: center;
				.social-media{
					a{
						position: relative;
						display: inline-block;
						margin-left: 25px;
						font-size: 1.3em;
						@include linkBtmLine($color__brown)
					}
				}
				#dd{
					margin-left: 50px;
				}
			}
		}
	}
}
.map{
	width: 100%;
	height: 600px;
	background-image: url('../images/map.png');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	color: #fff;
	a{
		color: #fff;
	}
	.wrapper{
		display: inline-block;
		margin-top: 95px;
		background-color: $color__green;
		padding: 60px 80px;
		h2{
			letter-spacing: 8.25px;
		}
		h4{
			font-weight: bold;
			font-size: 2.2rem;
			margin-bottom: 5px;
		}
		p{
			margin-bottom: 5px;
		}
		.content{
			margin-bottom: 40px;
		}
		.link{
			margin-right: 80px;
			&:hover, &:active, &:focus{
				color: $color__brown;
				&::after{
					background-color: $color__brown;
				}
			}
		}
	}
}
.link{
	position: relative;
	display: inline-block;
	width: fit-content;
	font-size: 2rem;
	margin: 0 auto;
	text-transform: uppercase;
	letter-spacing: 4px;
	line-height: 1.2;
	font-weight: 600;
	color: #ffffff;
	padding: 20px 0;
	text-decoration: none;
	@include linkBtmLine();
	@include linkHover();
}
main{
	.section{
		h2{
			font-size: 4rem;
			line-height: 1.6;
			letter-spacing: 2px;
			font-weight: 700;
			margin-bottom: 1em;
		}
	}
	.banner{
		&.banner-home{
			.flexslider{
				margin-bottom: 0;
				border: 0;
				border-radius: 0;
				box-shadow: none;
				ul{
					li{
						position: relative;
						width: 100%;
						height: calc(100vh - 131px);
						overflow: hidden;
						img{
							@include imgFit();
						}
						h2{
							@include centerItem();
							font-weight: 700;
							color: #ffffff;
							font-size: 6.5rem;
							letter-spacing: 9.75px;
							line-height: 100px;
							z-index: 9;
						}
					}
				}
				.flex-direction-nav{
					display: none;
				}
				.flex-control-paging {
					bottom: 60px;
					z-index: 10;
					li{
						a{
							background: #ffffff;
							box-shadow: none;
							@include transction();
							&.flex-active{
								width: 100px;
								background-color: $color__brown;
							}
						}
					}
				}
			}
		}
		&-category, &-about{
			position: relative;
			background-image: url('../images/marco-bg.png');
			background-position: center center;
			background-repeat: no-repeat;
			background-size: cover;
			@include overlay();
			.wrapper{
				position: relative;
				height: 460px;
			}
			h1{
				text-align: center;
				width: 100%;
				max-width: 990px;
				font-size: 6.5rem;
				letter-spacing: 9.75px;
				line-height: 1.6;
				color: #fff;
				text-transform: uppercase;
				font-weight: 700;
				@include centerItem();
				margin: 0;
			}
		}
	}
}
.about-section{
	color: #ffffff;
	background-color: $color__brown;
	padding: 60px 45px;
	.wrapper{
		@include flex();
		.about-video{
			position: relative;
			width: calc(100% - 460px);
			i{
				position: absolute;
				color: #fff;
				font-size: 8rem;
				@include centerItem();
				@include transction();
				@include hoverFocusActive($color__green, transparent)
			}
		}
		.about-our-story{
			width: 100%;
			max-width: 400px;
			@include flex(column, center);
			&-content{
				margin-bottom: 80px;
				p{
					margin-bottom: 0;
				}
			}
			
		}
	}
}
.category-section{
	padding: 60px 45px;
	color: #ffffff;
	background-color: $color__dark;
	h2, a{
		color: #ffffff;
	}
	.col-category{
		margin-bottom: 30px;
		&:nth-last-child(-n+2){
			margin-bottom: 0;
		}
		.wrapper{
			overflow: hidden;
			&::before{
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				background-color: rgba(189, 116, 44, .6);
				z-index: 5;
				width: 100%;
				height: 100%;
			}
			@include imgWrapper(39%, relative);
			&:hover{
				img{
					transform: scale(1.02) translate(-50%, -50%);
				}
			}
			a{
				display: block;
			}
			img{
				@include transction();
				@include imgFit();
			}
			.inner-wrapper{
				@include centerItem();
				z-index: 5;
			}
		}
	}
}
.main-content{
	background-color: $color__brown;
	color: #fff;
	padding: 80px 0 300px;
	.excerpt{
		font-weight: 600;
		font-size: 2.2rem;
	}
	.content{
		line-height: 2;
	}
}
.page-template-page-about{
	.main-content{
		background-color: #fff;
		color: $color__dark
	}
}
.gallery{
	position: relative;
	z-index: 2;
	transform: translateY(-220px);
	.col-category-img{
		margin-bottom: 30px;
	}
	.img-wrapper{
		@include imgWrapper(57%);
		overflow: hidden;
		img{
			@include imgFit();
		}
	}
}
/////////////////////////////////////////
@media screen and (max-width: 1700px){
	body{
		font-size: 1.4rem;
	}
	.page-template-page-under{
		main{
		.logo{
			max-width: 360px;
			margin-bottom: 30px;
		}
		.wrapper{
			.inner-wrapper{
			top: 150px;
			max-width: 1300px;
			p{
				font-size: 1.4rem;
			}
			.top{
				h1{
				font-size: 5rem;
				letter-spacing: 4px;
				}
			}
			.middle{
				h2{
				font-size: 2.2rem;
				img{
					max-width: 25px;
					margin-left: 20px;
				}
				}
				#mc_embed_signup{
				form{
					#mc_embed_signup_scroll{
					max-width: 990px;
					.mc-field-group{
						input{
						width: 100%;
						min-width: unset !important;
						}
					}
					}
				}
				}
			}
			.bottom{
				ul{
				li{
					font-size: 3.5rem;
				}
				}
				.contact{
				font-size: 2rem;
				max-width: 990px;
				}
			}
			}
		}
		}
	}
	.link{
		font-size: 1.6rem;
		letter-spacing: 3.33px;
		padding: 16px 0;
	}
	nav#nav .menu li a{
		font-size: 1.83rem;
	}
	header{
		height: 120px;
		.marco-logo{
			max-width: 160px;
		}
	} 
	footer{
		#footer-logo{
			max-width: 210px;
		}
		h3{
			font-size: 2rem;
		}
	}
	h2{
		font-size: 3.33rem;
	}
	main{
		.section{
			h2{
				font-size: 3.33rem;
			}
		}
		.banner{
			&.banner-home{
				.flexslider{
					ul{
						li{
							height: calc(100vh - 120px);
							h2{
								font-size: 5.4rem;
								letter-spacing: 8.125px;
								line-height: 83px;
							}
						}
					}
					.flex-control-paging{
						bottom: 50px;
					}
				}
			}
		}
	}
	.about-section, .category-section{
		padding: 50px 37.5px;
	}
	.map{
		height: 500px;
		.wrapper{
			padding: 50px 66.67px;
			margin-top: 62px;
			h4{
				font-size: 2rem;
			}
			.link{
				margin-right: 60px;
			}
		}
	}
}
@media screen and (max-width: 1199px){
	header{
		.marco-logo{
			z-index: 100;
		}
	}
	nav#nav{
		position: fixed;
		width: 100vw;
		height: 100vh;
		top: 0;
		left: -200%;
		opacity: 0;
		visibility: hidden;		
		background-color: $color__green;
		z-index: 99;
		@include transction(1s);
		&.active{
			left: 0;
			opacity: 1;
			visibility: visible;	
		}
		.menu-menu-1-container{
			position: relative;
			width: 100%;
			height: 100%;
			ul{
				@include centerItem();
				li{
					a{
						display: block;
						color: #fff;
						text-align: center;
						padding: 10px 15px;
						white-space: nowrap;
						font-size: 2.2rem;
						text-transform: uppercase;
						font-weight: 700;
						@include hoverFocusActive(#fff, transparent, .5)
					}
				}
			}
		}
	}
	#nav-icon{
		display: block;
		position: absolute;
		width: 30px;
		height: 20px;
		cursor: pointer;
		right: 15px;
		top: 50%;
		transform: translateY(-50%);
		@include transction();
		z-index: 100;
		span{
			display: block;
			position: absolute;
			width: 100%;
			height: 3px;
			border-radius: 15px;
			background-color: #ffffff;
			left: 0;
			@include transction(.25s);
			&:first-child{
				top: 0;
			}
			&:last-child{
				bottom: 0;
			}
		}
		&.open{
			span{
				top: 10px;
				&:first-child{
					transform: rotate(45deg);
				}
				&:last-child{
					transform: rotate(-45deg);
				}
			}
		}
	}
	main{
		.section{
			h2{
				font-size: 2.8rem;
				white-space: nowrap;
			}
		}
		.banner{
			&.banner-home{
				.flexslider{
					.flex-control-paging{
						bottom: 30px;
					}
					ul{
						li{
							h2{
								font-size: 3.6rem;
								letter-spacing: 4px;
								line-height: 1.6;
							}
						}
					}
				}
			}
			&-category, &-about{
				.wrapper{
					height: 300px;
					h1{
						font-size: 3.6rem;
						letter-spacing: 4px;
						line-height: 1.6;
					}
				}
			}
		}
	}
	.about-section{
		.wrapper{
			.about-video{
				width: calc(100% - 330px);
			}
			.about-our-story{
				max-width: 300px;
				&-content{
					margin-bottom: 40px;
				}
			}
		}
	}
	footer{
		.top-row{
			.wrapper{
				flex-wrap: wrap;
				.footer-newsletter{
					width: 100%;
				}
			}
		}
	}
	.main-content{
		padding: 40px 0;
		.excerpt{
			font-size: 1.8rem;
		}
	}
	.gallery{
		padding: 40px 0;
		transform: translateY(0);
		.col-category-img{
			margin-bottom: 15px;
		}
	}
}
@media screen and (max-width: 991px){
	.about-section{
		padding: 40px 0;
		.wrapper{
			flex-direction: column;
			.about-video{
				width: 100%;
				margin-bottom: 30px;
			}
			.about-our-story{
				max-width: unset;
				&-content{
					margin-bottom: 15px;
				}
			}
		}
	}
	.category-section{
		padding: 40px 0;
	}
}
@media screen and (max-width: 767px){
	main{
		.banner{
			&.banner-home{
				.flexslider{
					ul{
						li{
							height: calc(100vh - 97px);
							h2{
								letter-spacing: 1.6px;
							}
						}
					}
				}
			}
		}
	}
	.category-section{
		.col-category{
			margin-bottom: 15px;
			&:nth-child(9){
				margin-bottom: 15px;
			}
		}
	}
	.map{
		padding: 40px 0;
		height: unset;
		.wrapper{
			margin-top: 0;
			padding: 30px;
		}
	}
	header{
		height: auto;
		.marco-logo{
			max-width: 120px;
		}
	}
	footer{
		.top-row{
			.wrapper{
				flex-direction: column;
				text-align: center;
				.footer-newsletter{
					min-width: unset;
					.mc-fields{
						flex-direction: column;
						.mc-field-group{
							max-width: 100%;
						}
					}
				}
			}
		}
		.bottom-row{
			text-align: center;
			.wrapper{
				flex-direction: column;
				span{
					display: block;
					margin-bottom: 15px;
				}
				.right-corner{
					flex-direction: column;
					#dd{
						margin-top: 10px;
						margin-left: 0;
					}
				}
			}
		}
		#footer-logo{
			margin: 0 auto 30px;
		}
		.footer-links, .footer-opening-hours{
			margin-bottom: 30px;
		}
	}
}
