@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,500;0,700;0,800;1,500&display=swap');
$color__green: #0B4531;
$color__brown: #BD742C;
$color__dark: #1c1c1c;
html{
  font-size: 10px;
}
body{
  font-family: 'Raleway', sans-serif;
  font-size: 1.6rem;
  font-weight: 500;
}
.post, .page{
  margin-bottom: 0;
}
a{
  text-decoration: none;
  &:visited{
	  color: #ffffff;
  }
}
ul{
  list-style: none;
  margin: 0;
  padding: 0;
}
.page-template-page-under{
  header, footer{
    display: none;
  }
  main{
    background-image: url("../images/bg.png");
    position: fixed;
    width: 100vw;
    height: 100vh;
    color: #ffffff;
    background-size: cover;
    background-position: center center;
    .logo{
      max-width: 400px;
      margin: 0 auto 35px;
    }
    .wrapper{
      .inner-wrapper{
        position: absolute;
        width: 100%;
        max-width: 1700px;
        padding: 0 15px;
        top: 170px;
        left: 50%;
        transform: translateX(-50%);
        text-transform: uppercase;
        color: #fdf9d2;
        text-align: center;
        .top{
          background: $color__green;
          h1{
            font-weight: 700;
            color: #ffffff;
            margin: 0;
            letter-spacing: 5px;
            font-size: 6rem;
            padding: 12px 15px;
            sup{
              font-size: 2.5rem;
            }
          }
        }
        p{
          font-size: 1.6rem;
          letter-spacing: 1.6px;
          font-weight: 500;
        }
        .middle{
          background: #ffffff;
          padding: 20px 15px;
          color: $color__green;
          font-weight: 500;
          h2{
            font-weight: 700;
            margin: 0;
            letter-spacing: 2px;
            font-size: 2.6rem;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            img{
              margin-left: 30px;
              max-width: 32px;
            }
          }
          #mc_embed_signup{
            form{
              #mc_embed_signup_scroll{
                display: flex;
                width: 100%;
                max-width: 1400px;
                margin: auto;
                flex-direction: row;
                justify-content: space-between;
                .mc-field-group{
                  width: 25%;
                  label{
                    display: none;
                  }
                  input{
                    text-transform: uppercase;
                    font-size: 1.6rem;
                    letter-spacing: 1.2px;
                    font-weight: 500;
                    color: $color__green;
                    border: 0;
                    border-bottom: 1px solid $color__green;
                    border-radius: 0;
                    width: 100%;
                    padding: 10px 0;
                    &#mce-EMAIL{
                      min-width: 350px;
                    }
                  }
                }
                #mc-embedded-subscribe{
                  border: 1px solid $color__green;
                  background-color: transparent;
                  font-size: 16px;
                  border-radius: 0;
                  padding: 15px 50px;
                  font-weight: 500;
                  text-transform: uppercase;
                  transition: all .25s ease-in-out;
                  cursor: pointer;
                  &:hover{
                    background-color: $color__green;
                    color: #ffffff;
                  }
                }
              }
            }
          }
        }
        .bottom{
          background: $color__brown;
          color: #ffffff;
          padding: 20px 15px;
          ul{
            display: flex;
            list-style: none;
            margin: 0 auto 20px;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            li{
              font-size: 4rem;
              letter-spacing: 3px;
              text-transform: uppercase;
              font-weight: 700;
              padding: 0 25px;
              position: relative;
              &:after{
                position: absolute;
                content: '';
                display: inline-block;
                width: 8px;
                height: 8px;
                border-radius: 50%;
                overflow: hidden;
                background: #ffffff;
                right: -5px;
                top: 50%;
                transform: translateY(-50%);
              }
              &:last-child{
                &:after{
                  display: none;
                }
              }
            }
          }
          .contact{
            display: flex;
            width: 100%;
            max-width: 1400px;
            margin: auto;
            justify-content: space-between;
            text-transform: uppercase;
            font-size: 2.5rem;
            letter-spacing: 2.4px;
            font-weight: 500;
            a{
              color: #ffffff;
            }
          }
        }
      }
    }
  }
}
.social-media{
  margin: 30px auto 0;
  display: flex;
  list-style: none;
  justify-content: center;
  li{
    width: 32px;
    height: 32px;
    background: #ffffff;
    border-radius: 50%;
    display: inline-flex;
    font-size: 2rem;
    justify-content: center;
    align-items: center;
    margin: 0 20px;
    a{
		color: $color__green;
		transition: all .25s ease-in-out;
		&:hover{
			color: $color__brown;
		}
    }
  }
}
.page-template-page-covid{
  header, footer{
    display: none;
  }

  main{
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    .wrapper{
      position: absolute;
      min-width: 320px;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      .inner-wrapper{
        padding: 15px;
        .logo{
          max-width: 240px;
          margin: 0 auto 30px;
        }
        form{
          .field{
            margin-bottom: 15px;
            label{
              display: block;
              font-size: 14px;
              margin-bottom: .5em;
              font-weight: 500;
              color: $color__brown;
            }
            span{
              display: block;
              input{
                width: 100%;
                border: 1px solid $color__green;
                padding: 8px 15px;
                font-size: 14px;
              }
            }
          }
          input.wpcf7-submit{
            text-transform: uppercase;
            background-color: $color__green;
            color: #ffffff;
            width: 100%;
            padding: 12px 15px;
            letter-spacing: 1px;
            font-size: 18px;
            margin-top: 10px;
            cursor: pointer;
            transition: all ease-in-out .25s;
            &:hover, &:active, &:focus{
              background-color: $color__brown;
            }
          }
        }
      }
    }
  }
}
@media (min-width: 1700px){
	.container{
		max-width: 1670px;
	}
}
@media (min-width: 1200px){
	nav#nav{
		width: calc(100% - 450px);
		.menu{
			@include flex();
			margin-top: 30px;
			li{
				a{
					text-transform: uppercase;
					color: $color__brown;
					font-weight: 700;
					font-size: 2.2rem;
					@include hoverFocusActive(#fff, transparent);
				}
			}
		}
	}
}
header{
	background-color: $color__dark;
	padding: 20px 0;
	.marco-logo{
		display: block;
		width: 100%;
		max-width: 190px;
	}
	.wrapper{
		@include flex();
	}
}
footer{
	color: #ffffff;
	background-color: $color__dark;
	padding: 50px 0 40px;
	#footer-logo{
		display: block;
		width: 100%;
		max-width: 250px;
	}
	h3{
		font-size: 2.2rem;
		color: #ffffff;
		font-weight: 600;
		margin-bottom: 10px;
	}
	a{
		color: #ffffff;
		@include hoverFocusActive($color__brown, transparent);
	}
	.top-row{
		.wrapper{
			@include flex();
			@include pbm();
			ul{
				li{
					margin-bottom: 5px;
				}
			}
			.footer-opening-hours{
				span{
					display: block;
				}
			}
			.footer-newsletter{
				min-width: 600px;
				label{
					display: none !important;
				}
				.mc-field-group{
					margin-bottom: 15px;
					input{
						background-color: transparent;
						border-radius: 0;
						border: 0;
						border-bottom: 2px solid $color__brown;
						font-size: 1.6rem;
						font-style: italic;
						width: 100%;
						max-width: unset;

					}
				}
				.mc-fields{
					@include flex();
					.mc-field-group{
						width: 100%;
						max-width: 48%;
					}
				}
				.footer-submit{
					border: 0;
					background-color: transparent;
					background: transparent;
					color: #ffffff;
					border-radius: 0;
					font-size: 2rem;
					text-transform: uppercase;
					letter-spacing: 4px;
					line-height: 1.6;
					padding: 20px 0 0;
				}
			}
		}
	}
	.bottom-row{
		.wrapper{
			
		}
	}
}
/////////////////////////////////////////
@media screen and (max-width: 1700px){
  .page-template-page-under{
    main{
      .logo{
        max-width: 360px;
        margin-bottom: 30px;
      }
      .wrapper{
        .inner-wrapper{
          top: 150px;
          max-width: 1300px;
          p{
            font-size: 1.4rem;
          }
          .top{
            h1{
              font-size: 5rem;
              letter-spacing: 4px;
            }
          }
          .middle{
            h2{
              font-size: 2.2rem;
              img{
                max-width: 25px;
                margin-left: 20px;
              }
            }
            #mc_embed_signup{
              form{
                #mc_embed_signup_scroll{
                  max-width: 990px;
                  .mc-field-group{
                    input{
                      width: 100%;
                      min-width: unset !important;
                    }
                  }
                }
              }
            }
          }
          .bottom{
            ul{
              li{
                font-size: 3.5rem;
              }
            }
            .contact{
              font-size: 2rem;
              max-width: 990px;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 1199px){
  .page-template-page-under{
    main{
      .logo{
        max-width: 280px;
        margin-bottom: 20px;
      }
      .wrapper{
        .inner-wrapper{
          top: 120px;
          max-width: 990px;
          .top{
            h1{
              font-size: 4rem;
              letter-spacing: 3px;
            }
          }
          .middle{
            h2{
              font-size: 2rem;
              img{
                max-width: 22px;
              }
            }
          }
          .bottom{
            ul{
              li{
                font-size: 2.4rem;
              }
            }
            .contact{
              font-size: 1.6rem;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 991px){
  .page-template-page-under{
    main{
      .logo{
        max-width: 240px;
      }
      .wrapper{
        .inner-wrapper{
          .top{
            h1{
              font-size: 3.2rem;
              letter-spacing: 2px;
              sup{
                font-size: 1.6rem;
              }
            }
          }
          .middle{
            #mc_embed_signup{
              form{
                #mc_embed_signup_scroll{
                  flex-wrap: wrap;
                  .mc-field-group{
                    width: 49%;
                    margin-bottom: 10px;
                    input{
                      width: 100%;
                      min-width: unset !important;
                    }
                  }
                }
              }
            }
          }
          .bottom{
            ul{
              li{
                font-size: 2rem;
                padding: 0 15px;
              }
            }
            .contact{
              font-size: 1.6rem;
              flex-direction: column;
              .address{
                margin-bottom: 5px;
              }
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 767px){
  .page-template-page-under{
    main{
      .logo{
        max-width: 150px;
      }
      .wrapper{
        .inner-wrapper{
          top: 40px;
          p{
            font-size: 1.2rem;
            letter-spacing: .5px;
          }
          .top{
            h1{
              font-size: 1.8rem;
              letter-spacing: 1px;
              padding: 8px;
              sup{
                font-size: 1rem;
              }
            }
          }
          .middle{
            h2{
              font-size: 1.6rem;
              letter-spacing: 1px;
              img{
                margin-left: 10px;
              }
            }
            #mc_embed_signup{
              form{
                #mc_embed_signup_scroll{
                  flex-wrap: wrap;
                  .mc-field-group{
                    width: 100%;
                    margin-bottom: 5px;
                   input{
                     font-size: 1.4rem;
                   }
                  }
                  .clear{
                    width: 100%;
                    margin: 5px auto 0;
                    input{
                      width: 100%;
                    }
                  }
                }
              }
            }
          }
          .bottom{
            padding: 8px;
            ul{
              display: none;
            }
            .contact{
              font-size: 1.2rem;
              .address{
                margin-bottom: 5px;
              }
            }
          }
        }
      }
    }
  }
  .social-media{
    margin-top: 15px;
  }
}
